{
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:jest/all"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "parserOptions": {
    "ecmaVersion": 9,
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "import/extensions": 0,
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "jest/no-hooks": "off",
    "jest/prefer-expect-assertions": "off",
    "jest/require-hook": "off",
    "no-restricted-syntax": "off"
  },
  "overrides": [
    {
      "files": [
        "**/*.ts"
      ],
      "rules": {
        "no-undef": "off"
      }
    }
  ]
}
